* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F7FB;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  width: 800px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section .start {
  width: 100%;
}

section .start h1 {
  font-size: 52px;
  margin: 20px;
}

section .start p {
  font-size: 24px;
}

section .start .start-btn {
  margin: 40px;
  font-size: 24px;
  color: #F5F7FB;
  width: 300px;
  height: 80px;
  border: none;
  border-radius: 20px;
  background-color: #4D5B9E;
  cursor: pointer;
}

.check-btn {
  font-size: 18px;
  color: #F5F7FB;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 20px;
  background-color: #4D5B9E;
  cursor: pointer;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  margin-bottom: 40px;
}

hr {
  margin-top: 30px;
  background-color: #DBDEF0;
}

.chooseBtn {
  width: 100px;
  text-align: center;
  padding: 5px 10px;
  margin: 0 10px;
  border: none;
  font-size: 20px;
  color: #293264;
  border-radius: 10px;
  border: 3px solid #4D5B9E;
  background-color: #F5F7FB;
}